nav {
    background-color: #fff;
    padding: 10px;
    margin: 0;
    list-style: none;
  }
  
  ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  ul li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
  }
  
  ul li a:hover {
    color: #fff;
    background-color: #000;
  }
  * {
      margin: 0,5;
      padding: 0;
      box-sizing: border-box;
      text-decoration: none;
    }
  
    div{
      height: 100%;
      width: 100%;
      width: 100px;
      height: 100px;
      float: left;
      margin: 5px;
      display: table;
    }
    .cabecalho{
      font-family: 'Sarala', sans-serif;
      color: #FFF2E7;
      font-weight: 400;
      font-size: 18px
    }
    .cabecalho-img{
      height: 48px;
      border-radius: 150%;
    }
   .cabecalho-menu {
      display: flex;
      gap: 32px;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: stretch;
      align-items: stretch;
  }