@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.container{
    width: 100vw;
    height: 100vh;
    background: #6C7A89;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box{
    width: 300px;
    height: 300px;
    background: #fff;
    border-radius: 2%;
}

.botao{
    background-color: #7E5A50;
    border: none;
    padding: 12px;
    width: 10%;
    border-radius: 20px;
    color: #fff;
    font-size: 12px;
    display: center;
}

.title{
 font-size: 20px;
 font-family: 'Sarala', sans-serif;
 display: center;
}

.text-box{
    border-radius: 10px;
    display: center;
}